<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Width</key>
	<integer>12</integer>
	<key>Layers</key>
	<array>
		<dict>
			<key>name</key>
			<string>Copper</string>
			<key>isSuperconductor</key>
			<false/>
			<key>thickness</key>
			<integer>10</integer>
			<key>E1</key>
			<real>120000000000</real>
			<key>E2</key>
			<real>100000000000</real>
			<key>E3</key>
			<real>1000000000</real>
			<key>sigma1</key>
			<real>200000000</real>
			<key>sigma2</key>
			<real>400000000</real>
			<key>criticalTensilStrain</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>Hastelloy</string>
			<key>isSuperconductor</key>
			<false/>
			<key>thickness</key>
			<integer>100</integer>
			<key>E1</key>
			<real>190000000000</real>
			<key>E2</key>
			<real>170000000000</real>
			<key>E3</key>
			<real>1000000000</real>
			<key>sigma1</key>
			<real>400000000</real>
			<key>sigma2</key>
			<real>800000000</real>
			<key>criticalTensilStrain</key>
			<real>0</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Superconductor</string>
			<key>isSuperconductor</key>
			<true/>
			<key>thickness</key>
			<integer>0</integer>
			<key>E1</key>
			<integer>0</integer>
			<key>E2</key>
			<integer>0</integer>
			<key>E3</key>
			<integer>0</integer>
			<key>sigma1</key>
			<integer>0</integer>
			<key>sigma2</key>
			<integer>0</integer>
			<key>criticalTensilStrain</key>
			<real>0.0019</real>
		</dict>
		<dict>
			<key>name</key>
			<string>Copper</string>
			<key>isSuperconductor</key>
			<false/>
			<key>thickness</key>
			<integer>10</integer>
			<key>E1</key>
			<real>120000000000</real>
			<key>E2</key>
			<real>100000000000</real>
			<key>E3</key>
			<real>1000000000</real>
			<key>sigma1</key>
			<real>200000000</real>
			<key>sigma2</key>
			<real>400000000</real>
			<key>criticalTensilStrain</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
